.git
.git/**
**/.git
**/.git/**
node_modules
dist
coverage
.env*
**/.env*
.npmrc
**/.npmrc
.pypirc
**/.pypirc
.ssh
.ssh/**
**/.ssh
**/.ssh/**
.runtime
.runtime/**
**/.runtime
**/.runtime/**
**/.venv
**/venv
*.pem
**/*.pem
*.key
**/*.key
**/id_rsa*
**/id_ed25519*
secrets
secrets/**
**/secrets
**/secrets/**
**/.aws
**/.aws/**
**/.netrc
**/.git-credentials
**/.config/gcloud
**/.config/gcloud/**
